<ion-view title="">
<ion-nav-buttons side="left">
    <div class="bar bar-header">
  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  <div class="h1 title">
	  <label class="item item-input">
	  <i class="icon placeholder-icon"></i>
	  <input type="search" placeholder="Search">
	  </label>
  </div>
  <button class="button button-clear button-stable  ion-gear-a"></button>
	</div>
</ion-nav-buttons>
	
<div class="tabs-striped tabs-background-dark tabs-color-stable ">	
	<div class="tabs tabs-top tabs-icon-top">
	  <a class="tab-item">
		<i class="icon ion-home"></i>
		Nearby
	  </a>
	  <a class="tab-item">
		<i class="icon ion-star"></i>
		Who's Going
	  </a>
	  <a class="tab-item">
		<i class="icon ion-earth"></i>
		Top Rated
	  </a>
	  <a class="tab-item">
		<i class="icon ion-thumbsdown"></i>
		Favorites
	  </a>
	  <a class="tab-item">
		<i class="icon ion-funnel"></i>
		New Place
	  </a>
	  <a class="tab-item">
		<i class="icon ion-earth"></i>
		Uber
	  </a>
	</div>
</div>

<ion-list>
	  <ion-item>
		  <h1>hello</h1>
	  </ion-item>
		<ion-item>
		  <h1>hello</h1>
	  </ion-item>
		<ion-item>
		  <h1>hello</h1>
	  </ion-item>
</ion-list>


</ion-view>
