<ion-view title="Playlists">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
	  
    <ion-list>
		<div class="item item-divider">
			 <p></p><p></p><p></p>
			<div class="tabs tabs-icon-top">
			  <a class="tab-item">
				<i class="icon ion-home"></i>
				Nearby
			  </a>
			  <a class="tab-item">
				<i class="icon ion-star"></i>
				Who's Going
			  </a>
			  <a class="tab-item">
				<i class="icon ion-earth"></i>
				Top Rated
			  </a>
			  <a class="tab-item">
				<i class="icon ion-thumbsdown"></i>
				Favorites
			  </a>
			  <a class="tab-item">
				<i class="icon ion-funnel"></i>
				New Place
			  </a>
			  <a class="tab-item">
				<i class="icon ion-earth"></i>
				Uber
			  </a>
			</div>
	  </div>
		
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
	  
  </ion-content>
</ion-view>
